pre {
  border: 1px solid #efefef;
  padding: 2px;
  font-size: 90%;
  background-color: transparent;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #efefef;
  font-size: 90%;
}

h2::before {
  content: "## ";
  padding-right: 1px;
}
